{% extends 'base.html.twig' %}


{% block body %}

    <div class="row">
        <div class="col-7">


    {% include 'default/_product_details.html.twig' %}

    {{ product.category }}

    {{ product.description }}

    {% for comment in product.comments %}
       {{ comment.title }}
       {{ comment.content }}
       Publié par {{ comment.username }} le {{ comment.createdAt|date('d-m-Y') }}

    {% endfor %}

    {{ form_start(comment_form) }}

           {{ form_errors(comment_form) }}

        {{ form_label(comment_form.title) }}
             {{ form_errors(comment_form.title) }}
             {{ form_widget(comment_form.title, {'attr': {'class': 'form_red' }}) }}

            {{ form_label(comment_form.content) }}
            {{ form_errors(comment_form.content) }}
            {{ form_widget(comment_form.content) }}

            {{ form_label(comment_form.username) }}
            {{ form_errors(comment_form.username) }}
            {{ form_widget(comment_form.username) }}

        {{ form_widget(comment_form.submit) }}

     {{ form_end(comment_form) }}

        </div>

        <div class="col-4">

            {{ render(controller(
                'AppBundle:Default:showMostViewedProducts',
                { 'productId': product.id }
            )) }}

            {{ render(controller(
                'AppBundle:Default:showOtherProducts',
                { 'productId': product.id }
            )) }}
        </div>

    </div>

{% endblock %}

